/* Global Styles */

body {
	margin:0px;
	}
	
td {
	font:12px Verdana, Arial, Helvetica, sans-serif;
	line-height:20px;
	color:#000000;
	}
	
a {
	color: #0B22AD;
	}
	
a:hover {
	color: #810081;
	}
	
img {
	border:none;
}

/* ID Styles */

#navigation td {
	border-bottom: 2px solid #000000;
	}

/*  trying to make title navigation (when linked) like regular navTitle  */
#navigation.navTitle a {
	font: 12px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	line-height:16px;
	letter-spacing:.1em;
	text-decoration: none;
	}	
		
#navigation a {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	line-height:16px;
	letter-spacing:.1em;
	text-decoration: none;
	display:block;
	padding:8px 6px 6px 15px;
	background: url("https://neutrons2.ornl.gov/conf/nxs2011/mm_square_purple.gif") 14px 45% no-repeat;
	}
	
#navigation a:hover {
	background: #9F0000 url("https://neutrons2.ornl.gov/conf/nxs2011/mm_square_purple.gif") 14px 45% no-repeat;
	color: #FFFFFF;
	}
	
#logo 	{
	font:24px Verdana, Arial, Helvetica, sans-serif;
	color: #CCFF99;
	letter-spacing:.2em;
	line-height:30px;
	}

#tagline 	{	
	font:12px Verdana, Arial, Helvetica, sans-serif;
	color: #F5FF12;
	letter-spacing:.4em;
	line-height:18px;
	}

#monthformat {
	border-bottom: 2px solid #E6F3FF;
		}
		
#dateformat {
	font:11px Verdana, Arial, Helvetica, sans-serif;
	color: #ffffff;
	letter-spacing:.2em;
	}
	
#dateformat a {
	font:11px Verdana, Arial, Helvetica, sans-serif;
	color: #003366;
	font-weight:bold;
	letter-spacing:.1em;
	}
	
#dateformat a:hover {
	color: #FF6600;
	letter-spacing:.1em;
	}
	
/* Class Styles */
	
.bodyText {
	font:12px Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
	line-height:20px;
	margin-top:0px;
	}
	
.pageName{
	font: 14px Verdana, Arial, Helvetica, sans-serif;
	color: #0B22AD;
	line-height:24px;
	letter-spacing:.15em;
	margin-bottom:2em;
	}
	
.subHeader {
	font:bold 10px Verdana, Arial, Helvetica, sans-serif;
	color: #3366CC;
	line-height:16px;
	letter-spacing:.2em;
	}

.quote {
	font: 20px Verdana, Arial, Helvetica, sans-serif;
	color: #759DA1;
	line-height:30px;
	}
	
.smallText {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	}
	
.smallText a {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	}
	
.lightText {
	color: #FFFFFF
	}	
	
.navText {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	line-height:12px;
	letter-spacing:.1em;
	text-decoration: none;
	}
	
.navTitle {
	font: 12px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	line-height:16px;
	letter-spacing:.1em;
	text-decoration: none;
	}



p {
	color: #000000;
}



.headertext {
	font:24px Verdana, Arial, Helvetica, sans-serif;
	color: #F5FF12;
	letter-spacing:.2em;
	line-height:30px;
	}
	
	.headersubtext {
	font:12px Verdana, Arial, Helvetica, sans-serif;
	color: #F5FF12;
	letter-spacing:.4em;
	line-height:18px;
	}
	
.captions {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #0B22AD;
	font-size: 9px;
	text-align: center;
	width: 100%;
	margin: 0px;
}

.captionsleft {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #0B22AD;
	font-size: 9px;
	text-align: left;
	width: 100%;
	margin: 0px;
}
.redText {
	color: #9F0000;
	}
	